[Unit]
Description=VCOO Agent
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/vcoo-agent
ExecStart=/opt/vcoo-agent/venv/bin/python /opt/vcoo-agent/agent.py $PROVISION_TOKEN
Restart=on-failure

[Install]
WantedBy=multi-user.target
